.input {
    color: var(--main-color);
    background-color: transparent;
    width: 800px;
    padding-left: 15px;
    border: 2.5px solid var(--main-color);
    border-radius: 10px;
    outline: none;
    font-size: 22px;
}

.input:focus {
    color: var(--light-main-color);
    border-color: var(--light-main-color);
}