.input {
    color: var(--main-color);
    background-color: transparent;
    width: 590px;
    padding-left: 15px;
    border: 2.5px solid var(--main-color);
    border-radius: 10px;
    outline: none;
    font-size: 22px;
}

.input:focus {
    color: var(--main-color-light);
    border-color: var(--main-color-light);
}