@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');        

:root {
   --main-color: #536EF3;
   --dark-main-color: #080C23;
   --light-main-color: #a6b5ff;
   --white-color: #F8F8F8;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Actor", sans-serif;
}

html,
body {
   height: 9999px;
   width: 100%;
}