@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=El+Messiri:wght@400..700&display=swap');

:root {
   --main-color: #536EF3;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Actor", sans-serif;
}

html,
body {
   height: 9999px;
   width: 100%;
}