@import "../../styles/global.css";

.section {
    background-color: var(--dark-main-color);
    width: 100%;
    height: 900px;
    display: grid;
    place-items: center;
}

.section_content {
    background-color: rgb(158, 0, 45);
    width: 1574px;
    height: 100%;
    display: flex;
}

.section_content_header {
    background-color: aqua;
}

.section_content_header_title {
    color: var(--white-color);
    font-size: 60px;                                                                        
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bolder;
}