@import "../../styles/global.css";

.section {
    background-color: var(--dark-main-color);
    width: 100%;
    height: 95svh;
    display: grid;
    place-items: center;
}

.section_content {
    width: 1574px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}