.links {
    cursor: pointer;
}

.nav {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    height: 187px;
    width: 100%;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1316px;
    height: 100%;
}

.nav_container_linksSection {
    font-size: 21px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}