.section {
    background-color: var(--dark-color);
    display: flex;
    width: 100%;
    height: 98svh;
}

.section_image {
    height: 100%;
}

.section_content {
    height: 100%;
    display: grid;
    place-items: center;
}

.section_content_container {
    width: 551px;
    height: 100%;
    margin-left: 101px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

.section_content_container_title {
    color: var(--white-color);
    font-size: 50px;                                                                        
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}

.section_content_container_paragraph {
    color: var(--white-color);
    font-size: 23px;
}