@import "../../styles/global.css";

.section {
    background-color: var(--dark-main-color);
    display: flex;
    width: 100%;
    height: 92svh;
}

.section_image {
    height: 100%;
}

.section_content {
    background-color: blueviolet;
    height: 100%;
    display: grid;
    place-items: center;
}

.section_content_container {
    background-color: brown;
    width: 826px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}